In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [7]:
data = pd.read_csv('home_dataset.csv')
data.shape

(59, 2)

In [8]:
data.head()

   HouseSize  HousePrice
0        793     1300000
1       2477     3700000
2       1263     1480000
3       1291     2380000
4        603      955000